<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BZD.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <BZD.Settings1>
            <setting name="waizai窗口有焦点时透明度" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="waizai窗口无焦点时透明度" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="窗口失去焦点是否自动缩放" serializeAs="String">
                <value>True</value>
            </setting>
        </BZD.Settings1>
    </userSettings>
</configuration>